#content {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

ol {
  list-style: none;
  margin-top: 25px;
  padding-left: 5px;
  line-height: 25px;
}

li {
  overflow: auto;
}

.todoListItem {
  width: 250px;
}
  .todoListItem button {
    float: right;
    width: 40px;
  }
.todo {
  float: left;
  width: 200px;
}
.todoAdd {
  position: relative;
  top: 20px;
}
  .todoAdd input[type=text] {
    width: 200px;
    margin-right:6px;
  }
  .todoAdd input[type=submit] {
    width: 40px;
  }
